Connected Services/MoEcService/MOE_getTradeLicenseBasicByEIDPP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.informatica.com/dis/ws/" name="MOE_getTradeLicenseBasicByEIDPP" targetNamespace="http://www.informatica.com/dis/ws/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.informatica.com/dis/ws/">
      <xsd:element name="GetTradeLicenseBasicByEIDPP">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="EmiratesID" type="xsd:string" />
            <xsd:element minOccurs="0" name="Passport" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetTradeLicenseBasicByEIDPPResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="OwnerDetails">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="OwnerEmiratesID" type="xsd:string" />
                  <xsd:element name="OwnerNameAR" type="xsd:string" />
                  <xsd:element name="OwnerNameEN" type="xsd:string" />
                  <xsd:element name="OwnerPassport" type="xsd:string" />
                  <xsd:element maxOccurs="unbounded" name="BusinessLicenses">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="LicenseNumber" type="xsd:string" />
                        <xsd:element name="BusinessNameAr" type="xsd:string" />
                        <xsd:element name="BusinessNameEn" type="xsd:string" />
                        <xsd:element name="EconomicDepartmentAR" type="xsd:string" />
                        <xsd:element name="EconomicDepartmentEN" type="xsd:string" />
                        <xsd:element name="EmirateAR" type="xsd:string" />
                        <xsd:element name="EmirateEN" type="xsd:string" />
                        <xsd:element name="LicenseRegistrationDate" type="xsd:string" />
                        <xsd:element name="LicenseExpiryDate" type="xsd:string" />
                        <xsd:element name="LicenseStatusAR" type="xsd:string" />
                        <xsd:element name="LicenseStatusEN" type="xsd:string" />
                        <xsd:element name="LicenseFCRNumber" type="xsd:string" />
                        <xsd:element maxOccurs="unbounded" name="OwnerPartnership">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name="OwnerPartnershipTypeAR" type="xsd:string" />
                              <xsd:element name="OwnerPartnershipTypeEN" type="xsd:string" />
                              <xsd:element name="OwnerSharePercentage" type="xsd:string" />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="Error">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="InputParameters" type="xsd:string" />
                  <xsd:element name="ErrorCode" type="xsd:string" />
                  <xsd:element name="ErrorDescription" type="xsd:string" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetTradeLicenseBasicByEIDPPResponse">
    <wsdl:part name="GetTradeLicenseBasicByEIDPPResponse" element="tns:GetTradeLicenseBasicByEIDPPResponse" />
  </wsdl:message>
  <wsdl:message name="GetTradeLicenseBasicByEIDPP">
    <wsdl:part name="GetTradeLicenseBasicByEIDPP" element="tns:GetTradeLicenseBasicByEIDPP" />
  </wsdl:message>
  <wsdl:portType name="MOE_getTradeLicenseBasicByEIDPPPortType">
    <wsdl:operation name="GetTradeLicenseBasicByEIDPP">
      <wsdl:input name="GetTradeLicenseBasicByEIDPP_Input" message="tns:GetTradeLicenseBasicByEIDPP" />
      <wsdl:output name="GetTradeLicenseBasicByEIDPP_Output" message="tns:GetTradeLicenseBasicByEIDPPResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MOE_getTradeLicenseBasicByEIDPPBinding" type="tns:MOE_getTradeLicenseBasicByEIDPPPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTradeLicenseBasicByEIDPP">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="GetTradeLicenseBasicByEIDPP_Input">
        <soap:body use="literal" parts="GetTradeLicenseBasicByEIDPP" />
      </wsdl:input>
      <wsdl:output name="GetTradeLicenseBasicByEIDPP_Output">
        <soap:body use="literal" parts="GetTradeLicenseBasicByEIDPPResponse" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MOE_getTradeLicenseBasicByEIDPP">
    <wsdl:port name="MOE_getTradeLicenseBasicByEIDPP" binding="tns:MOE_getTradeLicenseBasicByEIDPPBinding">
      <soap:address location="https://iapi.mocd.gov.ae:443/Outbound/FCSA/Soap/MOE_getTradeLicenseBasicByEIDPP" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>