Connected Services/DMAT/358d5ac2-ae69-11e7-a1c8-98eaa63972e2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://am.abudhabi.ae/schema/AAM/Tawtheeq" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://am.abudhabi.ae/schema/AAM/Tawtheeq" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TawtheeqFault">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ErrorCode" type="xs:string" />
        <xs:element name="ErrorMessageAr" type="xs:string" />
        <xs:element name="ErrorMessageEn" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>