Connected Services/AJMHR/AJM_HRD_getEmployeeDetailsbyEID.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.informatica.com/dis/ws/" name="AJM_HRD_getEmployeeDetailsbyEID" targetNamespace="http://www.informatica.com/dis/ws/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.informatica.com/dis/ws/">
      <xsd:element name="GetEmployeeDetails">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="EmiratesID" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetEmployeeDetailsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="EmployeeDetails">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="EmployeeNumber" type="xsd:string" />
                  <xsd:element name="EmiratesID" type="xsd:string" />
                  <xsd:element name="EmployeeName" type="xsd:string" />
                  <xsd:element name="Departement" type="xsd:string" />
                  <xsd:element name="PositionName" type="xsd:string" />
                  <xsd:element name="HireDate" type="xsd:string" />
                  <xsd:element name="BasicSalary" type="xsd:string" />
                  <xsd:element name="Complementary" type="xsd:string" />
                  <xsd:element name="ChildAllowance" type="xsd:string" />
                  <xsd:element name="WorkAllowance" type="xsd:string" />
                  <xsd:element name="CFEmployeeShare" type="xsd:string" />
                  <xsd:element name="TotalSalary" type="xsd:string" />
                  <xsd:element name="Nationality" type="xsd:string" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="Error">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="InputParameter" type="xsd:string" />
                  <xsd:element name="ErrorCode" type="xsd:string" />
                  <xsd:element name="ErrorMessage" type="xsd:string" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetEmployeeDetails">
    <wsdl:part name="GetEmployeeDetails" element="tns:GetEmployeeDetails" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeDetailsResponse">
    <wsdl:part name="GetEmployeeDetailsResponse" element="tns:GetEmployeeDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="AJM_HRD_getEmployeeDetailsbyEIDPortType">
    <wsdl:operation name="GetEmployeeDetails">
      <wsdl:input name="GetEmployeeDetails_Input" message="tns:GetEmployeeDetails" />
      <wsdl:output name="GetEmployeeDetails_Output" message="tns:GetEmployeeDetailsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AJM_HRD_getEmployeeDetailsbyEIDBinding" type="tns:AJM_HRD_getEmployeeDetailsbyEIDPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmployeeDetails">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="GetEmployeeDetails_Input">
        <soap:body use="literal" parts="GetEmployeeDetails" />
      </wsdl:input>
      <wsdl:output name="GetEmployeeDetails_Output">
        <soap:body use="literal" parts="GetEmployeeDetailsResponse" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AJM_HRD_getEmployeeDetailsbyEID">
    <wsdl:port name="AJM_HRD_getEmployeeDetailsbyEID" binding="tns:AJM_HRD_getEmployeeDetailsbyEIDBinding">
      <soap:address location="https://iapi.mocd.gov.ae:443/Outbound/FCSA/Soap/AJM_HRD_getEmployeeDetailsbyEID" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>