Connected Services/AJMFZ/AJM_DED_FZ_getLicenseDetailsbyPP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.informatica.com/dis/ws/" name="AJM_DED_FZ_getLicenseDetailsbyPP" targetNamespace="http://www.informatica.com/dis/ws/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.informatica.com/dis/ws/">
      <xsd:element name="GetLicenseDetails">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="PassportNumber" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetLicenseDetailsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="LicenseDetails">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="LicenseNumber" type="xsd:string" />
                  <xsd:element name="ShareholderFirstName" type="xsd:string" />
                  <xsd:element name="ShareholderLastName" type="xsd:string" />
                  <xsd:element name="ShareHolderNationality" type="xsd:string" />
                  <xsd:element name="CompanyNameEN" type="xsd:string" />
                  <xsd:element name="CompanyNameAR" type="xsd:string" />
                  <xsd:element name="CompanyStatus" type="xsd:string" />
                  <xsd:element name="LicenseStartDate" type="xsd:string" />
                  <xsd:element name="LicenseExpiryDate" type="xsd:string" />
                  <xsd:element name="ShareHolderPercentage" type="xsd:string" />
                  <xsd:element name="ShareHolderNoOfShares" type="xsd:string" />
                  <xsd:element name="ResidenceVisaQuotaUsed" type="xsd:string" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="Error">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="InputParameter" type="xsd:string" />
                  <xsd:element name="ErrorCode" type="xsd:string" />
                  <xsd:element name="ErrorDescription" type="xsd:string" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetLicenseDetailsResponse">
    <wsdl:part name="GetLicenseDetailsResponse" element="tns:GetLicenseDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetLicenseDetails">
    <wsdl:part name="GetLicenseDetails" element="tns:GetLicenseDetails" />
  </wsdl:message>
  <wsdl:portType name="AJM_DED_FZ_getLicenseDetailsbyPPPortType">
    <wsdl:operation name="GetLicenseDetails">
      <wsdl:input name="GetLicenseDetails_Input" message="tns:GetLicenseDetails" />
      <wsdl:output name="GetLicenseDetails_Output" message="tns:GetLicenseDetailsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AJM_DED_FZ_getLicenseDetailsbyPPBinding" type="tns:AJM_DED_FZ_getLicenseDetailsbyPPPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLicenseDetails">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="GetLicenseDetails_Input">
        <soap:body use="literal" parts="GetLicenseDetails" />
      </wsdl:input>
      <wsdl:output name="GetLicenseDetails_Output">
        <soap:body use="literal" parts="GetLicenseDetailsResponse" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AJM_DED_FZ_getLicenseDetailsbyPP">
    <wsdl:port name="AJM_DED_FZ_getLicenseDetailsbyPP" binding="tns:AJM_DED_FZ_getLicenseDetailsbyPPBinding">
      <soap:address location="https://iapi.mocd.gov.ae:443/Outbound/FCSA/Soap/AJM_DED_FZ_getLicenseDetailsbyPP" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>