Connected Services/AJMDED/AJM_DED_getLicenseDetailsbyEID.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.informatica.com/dis/ws/" name="AJM_DED_getLicenseDetailsbyEID" targetNamespace="http://www.informatica.com/dis/ws/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.informatica.com/dis/ws/">
      <xsd:element name="GetLicenseDetails">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="EmiratesId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetLicenseDetailsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="GetLicenseDetails">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="EmiratesID" type="xsd:string" />
                  <xsd:element name="PassportNumber" type="xsd:string" />
                  <xsd:element name="NameEN" type="xsd:string" />
                  <xsd:element name="NameAR" type="xsd:string" />
                  <xsd:element name="Gender" type="xsd:string" />
                  <xsd:element name="DateOfBirth" type="xsd:string" />
                  <xsd:element name="Nationality" type="xsd:string" />
                  <xsd:element name="PhoneNumber" type="xsd:string" />
                  <xsd:element name="MobileNumber" type="xsd:string" />
                  <xsd:element name="BanningReason" type="xsd:string" />
                  <xsd:element name="BanningStatus" type="xsd:string" />
                  <xsd:element name="StakeHolderId" type="xsd:string" />
                  <xsd:element maxOccurs="unbounded" name="Licenses">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="LicenseId" type="xsd:string" />
                        <xsd:element name="LicenseNumber" type="xsd:string" />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="Error">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="InputParameter" type="xsd:string" />
                  <xsd:element name="ErrorCode" type="xsd:string" />
                  <xsd:element name="ErrorMessage" type="xsd:string" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetLicenseDetailsResponse">
    <wsdl:part name="GetLicenseDetailsResponse" element="tns:GetLicenseDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetLicenseDetails">
    <wsdl:part name="GetLicenseDetails" element="tns:GetLicenseDetails" />
  </wsdl:message>
  <wsdl:portType name="AJM_DED_getLicenseDetailsbyEIDPortType">
    <wsdl:operation name="GetLicenseDetails">
      <wsdl:input name="GetLicenseDetails_Input" message="tns:GetLicenseDetails" />
      <wsdl:output name="GetLicenseDetails_Output" message="tns:GetLicenseDetailsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AJM_DED_getLicenseDetailsbyEIDBinding" type="tns:AJM_DED_getLicenseDetailsbyEIDPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLicenseDetails">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="GetLicenseDetails_Input">
        <soap:body use="literal" parts="GetLicenseDetails" />
      </wsdl:input>
      <wsdl:output name="GetLicenseDetails_Output">
        <soap:body use="literal" parts="GetLicenseDetailsResponse" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AJM_DED_getLicenseDetailsbyEID">
    <wsdl:port name="AJM_DED_getLicenseDetailsbyEID" binding="tns:AJM_DED_getLicenseDetailsbyEIDBinding">
      <soap:address location="https://iapi.mocd.gov.ae:443/Outbound/FCSA/Soap/AJM_DED_getLicenseDetailsbyEID" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>