Connected Services/FUJDEDService/FUJ_DED_getTradeLicenseDetailsbyEID.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.informatica.com/dis/ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FUJ_DED_getTradeLicenseDetailsbyEID" targetNamespace="http://www.informatica.com/dis/ws/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.informatica.com/dis/ws/">
      <xsd:element name="GetTradeLicenseDetails">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="EmiratesID" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetTradeLicenseDetailsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="TradeLicenseDetails">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="EmiratesID" type="xsd:string" />
                  <xsd:element name="LicenseHolderName" type="xsd:string" />
                  <xsd:element name="LicenseHolderCategory" type="xsd:string" />
                  <xsd:element name="PartnershipRatio" type="xsd:string" />
                  <xsd:element name="LicenseIssuanceDate" type="xsd:string" />
                  <xsd:element name="LicenseExpiryDate" type="xsd:string" />
                  <xsd:element name="LicenseNumber" type="xsd:string" />
                  <xsd:element name="LicenseName" type="xsd:string" />
                  <xsd:element name="LastRefreshDate" type="xsd:string" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="Error">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="InputParameter" type="xsd:string" />
                  <xsd:element name="ErrorCode" type="xsd:string" />
                  <xsd:element name="ErrorDescription" type="xsd:string" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetTradeLicenseDetails">
    <wsdl:part name="GetTradeLicenseDetails" element="tns:GetTradeLicenseDetails" />
  </wsdl:message>
  <wsdl:message name="GetTradeLicenseDetailsResponse">
    <wsdl:part name="GetTradeLicenseDetailsResponse" element="tns:GetTradeLicenseDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="FUJ_DED_getTradeLicenseDetailsbyEIDPortType">
    <wsdl:operation name="GetTradeLicenseDetails">
      <wsdl:input name="GetTradeLicenseDetails_Input" message="tns:GetTradeLicenseDetails" />
      <wsdl:output name="GetTradeLicenseDetails_Output" message="tns:GetTradeLicenseDetailsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FUJ_DED_getTradeLicenseDetailsbyEIDBinding" type="tns:FUJ_DED_getTradeLicenseDetailsbyEIDPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTradeLicenseDetails">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="GetTradeLicenseDetails_Input">
        <soap:body use="literal" parts="GetTradeLicenseDetails" />
      </wsdl:input>
      <wsdl:output name="GetTradeLicenseDetails_Output">
        <soap:body use="literal" parts="GetTradeLicenseDetailsResponse" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FUJ_DED_getTradeLicenseDetailsbyEID">
    <wsdl:port name="FUJ_DED_getTradeLicenseDetailsbyEID" binding="tns:FUJ_DED_getTradeLicenseDetailsbyEIDBinding">
      <soap:address location="https://iapi.mocd.gov.ae:443/Outbound/FCSA/Soap/FUJ_DED_getTradeLicenseDetailsbyEID" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>