Connected Services/ADMilitaryPensionService/5e6b734e2f9c68db4bdfe810bfe6d96e.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns0="http://mocd.aderpws.apps.oracle.xxdof/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://mocd.aderpws.apps.oracle.xxdof/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="GetHREmployeeDetails">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ArrayOfHREmployeeDetailsInp" type="ns0:ArrayOfHREmployeeDetailsInp" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SoapHeaderRequest">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CustomHeaderReq" type="ns0:SoapHeaderReq" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetHREmployeeDetailsResponse">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="return" type="ns0:HREmployeeDetailsOut" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArrayOfHREmployeeDetailsInp">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfHREmployeeDetailsInp" type="ns0:HREmployeeDetailsInp" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SoapHeaderReq">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="transactionId" type="xsd:string" />
      <xsd:element minOccurs="0" name="serviceProviderEntity" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HREmployeeDetailsInp">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="NationalID" type="xsd:string" />
      <xsd:element minOccurs="0" name="FamilyNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="TownNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="FullNameEng" type="xsd:string" />
      <xsd:element minOccurs="0" name="FullNameArb" type="xsd:string" />
      <xsd:element minOccurs="0" name="DOB" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HREmployeeDetailsOut">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="StatusHeader" type="ns0:StatusHeader" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="HREmployeeDetailsInfo" type="ns0:HREmployeeInfo" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="StatusHeader">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="StatusCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="StatusDesc" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HREmployeeInfo">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="PensionerId" type="xsd:string" />
      <xsd:element minOccurs="0" name="BeneficiaryId" type="xsd:string" />
      <xsd:element minOccurs="0" name="FullNameEnglish" type="xsd:string" />
      <xsd:element minOccurs="0" name="FullNameArabic" type="xsd:string" />
      <xsd:element minOccurs="0" name="AliveHeirFlag" type="xsd:string" />
      <xsd:element minOccurs="0" name="BeneficiaryRelation" type="xsd:string" />
      <xsd:element minOccurs="0" name="NationalIdentifier" type="xsd:string" />
      <xsd:element minOccurs="0" name="PersonType" type="xsd:string" />
      <xsd:element minOccurs="0" name="MonthlyPension" type="xsd:string" />
      <xsd:element minOccurs="0" name="FamilyNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="TownNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="DOB" type="xsd:string" />
      <xsd:element minOccurs="0" name="PensionStartDate" type="xsd:string" />
      <xsd:element minOccurs="0" name="EntityId" type="xsd:string" />
      <xsd:element minOccurs="0" name="BeneficiaryName" type="xsd:string" />
      <xsd:element minOccurs="0" name="BeneficiaryStartDate" type="xsd:string" />
      <xsd:element minOccurs="0" name="Status" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SoapHeader" type="ns0:SoapHeaderRequest" />
  <xsd:element name="GetHREmployeeDetails" type="ns0:GetHREmployeeDetails" />
  <xsd:element name="GetHREmployeeDetailsResponse" type="ns0:GetHREmployeeDetailsResponse" />
</xsd:schema>