Connected Services/SCMAF/5e6b734e2f9c68db4bdfe810bfe6d96e.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:SMT="urn:ae:gov:abudhabi:DigitalDocuments:SocialMinor:1" xmlns="urn:ae:gov:abudhabi:DigitalDocuments:InheritorStatementMessages:1" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:ae:gov:abudhabi:DigitalDocuments:InheritorStatementMessages:1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://iapi.mocd.gov.ae/service/5e6b734e2f9c68db4bdfe810bfe6d96e?serviceoid=ee5c09163b27428ef60c1a300aff7d92&amp;servdocoid=c224a13300998783141f63d95a56e896" namespace="urn:ae:gov:abudhabi:DigitalDocuments:SocialMinor:1" />
  <xs:annotation>
    <xs:appinfo>
      <rdf:RDF xmlns:adsssa="http://www.adsssa.abudhabi.ae/egms/1.0/" xmlns:dcterms="http://purl.org/dc/terms/" xmlns:mireg="http://mireg.org/schema/1.0/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
        <rdf:Description rdf:about="urn:ae:gov:abudhabi:DigitalDocuments:InheritorStatementMessages:1">
          <dcterms:title xml:lang="ar">شهادة إيرادات</dcterms:title>
          <dcterms:title xml:lang="en">Revenue Certificate</dcterms:title>
          <dcterms:identifier>urn:ae:gov:abudhabi:DigitalDocuments:InheritorStatementMessages:1:1/1</dcterms:identifier>
          <dcterms:description xml:lang="ar">شهادة إيرادات للوريث / المشمول برعاية المؤسسة تشمل جميع أنواع الحركات
                                             المالية خلال فترة مالية محددة بسنة سابقة</dcterms:description>
          <dcterms:description xml:lang="en">This certificate includes all financial transaction for inheritor for last
                                             financial year from requested date</dcterms:description>
          <mireg:version>1</mireg:version>
          <mireg:status>release</mireg:status>
          <mireg:project>Digital Service Baseline and G2G Initiatives</mireg:project>
          <mireg:category xml:lang="ar">التبادل المشترك</mireg:category>
          <mireg:category xml:lang="en">G2G</mireg:category>
          <dcterms:jurisdiction>AE-AZ</dcterms:jurisdiction>
          <dcterms:creator rdf:datatype="http://adsssa.abudhabi.ae/egms/1.0/encodingschemes#contact">
            <adsssa:OrganisationName xml:lang="en">Abu Dhabi Systems and Information Centre (adsssa)</adsssa:OrganisationName>
            <adsssa:URL xml:lang="en">http://adsssa.abudhabi.ae</adsssa:URL>
          </dcterms:creator>
          <dcterms:creator rdf:datatype="http://adsssa.abudhabi.ae/egms/1.0/encodingschemes#contact">
            <adsssa:OrganisationName xml:lang="ar">مركز أبو ظبي للانظمة الالكترونية والمعلومات</adsssa:OrganisationName>
            <adsssa:URL xml:lang="ar">http://adsssa.abudhabi.ae</adsssa:URL>
          </dcterms:creator>
          <mireg:owner rdf:datatype="http://adsssa.abudhabi.ae/egms/1.0/encodingschemes#contact">
            <adsssa:OrganisationName xml:lang="en">Abu Dhabi e-Government</adsssa:OrganisationName>
          </mireg:owner>
          <mireg:owner rdf:datatype="http://adsssa.abudhabi.ae/egms/1.0/encodingschemes#contact">
            <adsssa:OrganisationName xml:lang="ar">حكومة أبوظبي الالكترونية</adsssa:OrganisationName>
          </mireg:owner>
          <dcterms:contributor rdf:datatype="http://adsssa.abudhabi.ae/egms/1.0/encodingschemes#contact">
            <adsssa:PersonalName xml:lang="en">SCMAF</adsssa:PersonalName>
          </dcterms:contributor>
          <dcterms:contributor rdf:datatype="http://adsssa.abudhabi.ae/egms/1.0/encodingschemes#contact">
            <adsssa:PersonalName xml:lang="ar">قسم الصحة</adsssa:PersonalName>
          </dcterms:contributor>
          <dcterms:publisher rdf:datatype="http://adsssa.abudhabi.ae/egms/1.0/encodingschemes#contact">
            <adsssa:OrganisationName xml:lang="en">Abu Dhabi Systems and Information Centre (adsssa)</adsssa:OrganisationName>
            <adsssa:URL xml:lang="en">http://adsssa.abudhabi.ae</adsssa:URL>
          </dcterms:publisher>
          <dcterms:publisher rdf:datatype="http://adsssa.abudhabi.ae/egms/1.0/encodingschemes#contact">
            <adsssa:OrganisationName xml:lang="ar">مركز أبو ظبي للانظمة الالكترونية والمعلومات</adsssa:OrganisationName>
            <adsssa:URL xml:lang="ar">http://adsssa.abudhabi.ae</adsssa:URL>
          </dcterms:publisher>
          <dcterms:created />
          <dcterms:medium>text/xml</dcterms:medium>
          <adsssa:providesDefinitionOf>InheritorStatementListRequest</adsssa:providesDefinitionOf>
          <adsssa:providesDefinitionOf>InheritorStatementDetailsRequest</adsssa:providesDefinitionOf>
          <adsssa:providesDefinitionOf>InheritorStatementListResponse</adsssa:providesDefinitionOf>
          <adsssa:providesDefinitionOf>InheritorStatementDetailsResponse</adsssa:providesDefinitionOf>
          <adsssa:providesDefinitionOf>InheritorStatementDocumentResponse</adsssa:providesDefinitionOf>
          <adsssa:providesDefinitionOf>InheritorStatementDocumentRequest</adsssa:providesDefinitionOf>
          <dcterms:conformsTo>http://www.w3.org/2001/XMLSchema</dcterms:conformsTo>
        </rdf:Description>
      </rdf:RDF>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexType name="InheritorStatementInfoType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="SRNumber" nillable="true" type="SMT:SRNumberType" />
      <xs:element minOccurs="1" maxOccurs="1" name="DateFrom" nillable="true" type="SMT:DateFromType" />
      <xs:element minOccurs="1" maxOccurs="1" name="DateTo" nillable="true" type="SMT:DateToType" />
      <xs:element minOccurs="1" maxOccurs="1" name="FileOwnerNameEnglish" nillable="true" type="SMT:FileOwnerNameEnType" />
      <xs:element minOccurs="1" maxOccurs="1" name="FileOwnerNameArabic" nillable="true" type="SMT:FileOwnerNameArType" />
      <xs:element minOccurs="1" maxOccurs="1" name="FileNumber" nillable="true" type="SMT:FileNumberType" />
      <xs:element minOccurs="1" maxOccurs="1" name="BankAccountNo" nillable="true" type="SMT:BankAccountNoType" />
      <xs:element minOccurs="1" maxOccurs="1" name="BankAccountOwnerNameEnglish" nillable="true" type="SMT:BankAccountOwnerNameEnType" />
      <xs:element minOccurs="1" maxOccurs="1" name="BankAccountOwnerNameArabic" nillable="true" type="SMT:BankAccountOwnerNameArType" />
      <xs:element minOccurs="1" maxOccurs="1" name="InheritorNumber" nillable="true" type="SMT:InheritorNumberType" />
      <xs:element minOccurs="1" maxOccurs="1" name="InheritorNameEnglish" nillable="true" type="SMT:InheritorNameEnType" />
      <xs:element minOccurs="1" maxOccurs="1" name="InheritorNameArabic" nillable="true" type="SMT:InheritorNameArType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InheritorStatementDetailsResponseType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="InheritorStatementInfo" nillable="true" type="InheritorStatementInfoType" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="InheritorStatementDetails" nillable="true" type="InheritorStatementDetailType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InheritorStatementListResponseType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="SRNumber" nillable="true" type="SMT:SRNumberType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InheritorStatementDetailType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="TransactionType" nillable="true" type="SMT:TransactionTypeType" />
      <xs:element minOccurs="1" maxOccurs="1" name="TransactionNumber" nillable="true" type="SMT:TransactionNumberType" />
      <xs:element minOccurs="1" maxOccurs="1" name="TransactionDate" nillable="true" type="SMT:TransactionDateType" />
      <xs:element minOccurs="1" maxOccurs="1" name="TransactionDetails" nillable="true" type="SMT:TransactionDetailsType" />
      <xs:element minOccurs="1" maxOccurs="1" name="CreditAmount" nillable="true" type="SMT:CreditAmountType" />
      <xs:element minOccurs="1" maxOccurs="1" name="DebitAmount" nillable="true" type="SMT:DebitAmountType" />
      <xs:element minOccurs="1" maxOccurs="1" name="Balance" nillable="true" type="SMT:BalanceType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InheritorStatementListResponse">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ResponseStatus" type="SMT:ResponseStatusType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contents" type="InheritorStatementListResponseType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InheritorStatementDocumentRequestType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="SRNumber" nillable="true" type="SMT:SRNumberType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InheritorStatementDocumentResponseType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ResponseStatus" type="SMT:ResponseStatusType" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="AttachmentDetails" type="SMT:AttachmentDetailsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InheritorStatementDetailsResponse">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ResponseStatus" type="SMT:ResponseStatusType" />
      <xs:element minOccurs="1" maxOccurs="1" name="Contents" type="InheritorStatementDetailsResponseType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InheritorStatementListRequestType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="EmiratesID" nillable="true" type="SMT:EmiratesIDNumberType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InheritorStatementDetailsRequestType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="SRNumber" nillable="true" type="SMT:SRNumberType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestTrnHeader" type="SMT:RequestTrnHeaderType" />
  <xs:element name="InheritorStatementListRequest" type="InheritorStatementListRequestType" />
  <xs:element name="InheritorStatementDetailsRequest" type="InheritorStatementDetailsRequestType" />
  <xs:element name="InheritorStatementListResponse" type="InheritorStatementListResponse" />
  <xs:element name="InheritorStatementDetailsResponse" type="InheritorStatementDetailsResponse" />
  <xs:element name="ResponseTrnHeader" type="SMT:ResponseTrnHeaderType" />
  <xs:element name="InheritorStatementDocumentRequest" type="InheritorStatementDocumentRequestType" />
  <xs:element name="InheritorStatementDocumentResponse" type="InheritorStatementDocumentResponseType" />
  <xs:element name="FaultResponse" type="SMT:FaultResponseType" />
</xs:schema>