Connected Services/FAHRService2/APPS_XXFAHR_MOCD_WEBSERVICE_PKG_GET_EMPLOYEE_DETAILS.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:db="http://xmlns.oracle.com/apps/per/soaprovider/plsql/xxfahr_mocd_webservice_pkg/get_employee_details/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/per/soaprovider/plsql/xxfahr_mocd_webservice_pkg/get_employee_details/" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="InputParameters">
    <complexType>
      <sequence>
        <element db:index="1" db:type="VARCHAR2" minOccurs="0" name="P_EMIRATES_ID" nillable="true" type="string" />
        <element db:index="2" db:type="VARCHAR2" minOccurs="0" name="P_EMPLOYEE_NAME" nillable="true" type="string" />
        <element db:index="3" db:type="DATE" minOccurs="0" name="P_DATE_OF_BIRTH" nillable="true" type="dateTime" />
        <element db:index="4" db:type="VARCHAR2" minOccurs="0" name="P_FAMILY_NUMBER" nillable="true" type="string" />
        <element db:index="5" db:type="VARCHAR2" minOccurs="0" name="P_EMIRATE_NUMBER" nillable="true" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="OutputParameters">
    <complexType>
      <sequence>
        <element db:index="6" db:type="NUMBER" minOccurs="0" name="O_RETURN_CODE" nillable="true" type="decimal" />
        <element db:index="7" db:type="RowSet" minOccurs="0" name="O_MESSAGE" nillable="true" type="db:RowSet" />
      </sequence>
    </complexType>
  </element>
  <complexType name="RowSet">
    <sequence>
      <element minOccurs="0" maxOccurs="unbounded" name="Row">
        <complexType>
          <sequence>
            <element maxOccurs="unbounded" name="Column" nillable="true">
              <complexType>
                <simpleContent>
                  <extension base="string">
                    <attribute name="name" type="string" use="required" />
                    <attribute name="sqltype" type="string" use="required" />
                  </extension>
                </simpleContent>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>
</schema>