Connected Services/MoIService/5e6b734e2f9c68db4bdfe810bfe6d96e.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://www.moi.gov.ae/2017/MOIServices/PersonCIInquirySchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.moi.gov.ae/2017/MOIServices/PersonCIInquirySchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:annotation>
    <xsd:documentation xml:lang="ar"> بيانات الشخص  </xsd:documentation>
    <xsd:documentation xml:lang="en">Person CI Details Data</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="InquiryCriteriaType">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="unifiedNumber" type="xsd:long">
          <xsd:annotation>
            <xsd:documentation xml:lang="ar"> الرقم الموحد</xsd:documentation>
            <xsd:documentation xml:lang="en">Unified Number</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="identityCardNumber" type="string15">
          <xsd:annotation>
            <xsd:documentation xml:lang="ar"> رقم الهوية</xsd:documentation>
            <xsd:documentation xml:lang="en">Identity Card Number</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="inquiryCriteria" type="InquiryCriteriaType">
    <xsd:annotation>
      <xsd:documentation xml:lang="ar"> بيانات ألية البحث </xsd:documentation>
      <xsd:documentation xml:lang="en">Inquiry Search Criteria</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="personCIDetails" type="PersonCIDetailsType" />
  <xsd:complexType name="PersonCIDetailsType">
    <xsd:annotation>
      <xsd:documentation xml:lang="ar"> بيانات الشخص  </xsd:documentation>
      <xsd:documentation xml:lang="en">Person CI Details Data</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="isPersonHasBeenImprisoned" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="personCertificateStatus" nillable="true" type="LookupType" />
      <xsd:element minOccurs="0" name="isPersonHasTreatment" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="isPersonExitCountry" nillable="true" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LookupType">
    <xsd:annotation>
      <xsd:documentation xml:lang="ar"> جدول البيانات</xsd:documentation>
      <xsd:documentation xml:lang="en">Lookup Type Data</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="id" nillable="true" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation xml:lang="ar"> الرمز </xsd:documentation>
          <xsd:documentation xml:lang="en">Id</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="arDesc" nillable="true" type="string80">
        <xsd:annotation>
          <xsd:documentation xml:lang="ar"> الوصف عربى </xsd:documentation>
          <xsd:documentation xml:lang="en">Arabic Description </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="enDesc" nillable="true" type="string80">
        <xsd:annotation>
          <xsd:documentation xml:lang="ar"> الوصف لاتينى </xsd:documentation>
          <xsd:documentation xml:lang="en">English Description</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ErrorType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="code" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="ar">رمز الخطأ</xsd:documentation>
          <xsd:documentation xml:lang="en"> Error code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="type" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="ar"> نوع الخطأ</xsd:documentation>
          <xsd:documentation xml:lang="en"> Error Type</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="arDesc" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="ar">وصف الخطأ عربى</xsd:documentation>
          <xsd:documentation xml:lang="en"> Error Arabic Description</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="enDesc" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="ar">وصف الخطأ لاتينى </xsd:documentation>
          <xsd:documentation xml:lang="en"> Error English Description </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="refNumber" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="ar"> الرقم المرجعى للخطأ</xsd:documentation>
          <xsd:documentation xml:lang="en"> Error Refrance Number</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="error" type="ErrorType" />
  <xsd:complexType name="TrnHeaderType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="transactionId" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="ar"> رقم المعاملة</xsd:documentation>
          <xsd:documentation xml:lang="en">Transaction Id</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="serviceProviderEntity" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="ar">  اسم الجهة</xsd:documentation>
          <xsd:documentation xml:lang="en">Service Provider Entity</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="TrnHeader" type="TrnHeaderType" />
  <xsd:simpleType name="string15">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="15" />
      <xsd:minLength value="15" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="string16">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="16" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="string80">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="80" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>