Connected Services/AJMMUNService/AJM_MPD_getResidentialGrantStatusbyEID.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.informatica.com/dis/ws/" name="AJM_MPD_getResidentialGrantStatusbyEID" targetNamespace="http://www.informatica.com/dis/ws/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.informatica.com/dis/ws/">
      <xsd:element name="GetResidentialGrantStatus">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="EmiratesId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetResidentialGrantStatusResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="ResidentialGrantStatus">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="TypeOfLand" type="xsd:string" />
                  <xsd:element name="ResidentialGranted" type="xsd:string" />
                  <xsd:element name="ParcelID" type="xsd:string" />
                  <xsd:element name="SitePlanIssuedDate" type="xsd:string" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="Error">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="InputParameter" type="xsd:string" />
                  <xsd:element name="ErrorCode" type="xsd:string" />
                  <xsd:element name="ErrorMessage" type="xsd:string" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetResidentialGrantStatusResponse">
    <wsdl:part name="GetResidentialGrantStatusResponse" element="tns:GetResidentialGrantStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetResidentialGrantStatus">
    <wsdl:part name="GetResidentialGrantStatus" element="tns:GetResidentialGrantStatus" />
  </wsdl:message>
  <wsdl:portType name="AJM_MPD_getResidentialGrantStatusbyEIDPortType">
    <wsdl:operation name="GetResidentialGrantStatus">
      <wsdl:input name="GetResidentialGrantStatus_Input" message="tns:GetResidentialGrantStatus" />
      <wsdl:output name="GetResidentialGrantStatus_Output" message="tns:GetResidentialGrantStatusResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AJM_MPD_getResidentialGrantStatusbyEIDBinding" type="tns:AJM_MPD_getResidentialGrantStatusbyEIDPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetResidentialGrantStatus">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="GetResidentialGrantStatus_Input">
        <soap:body use="literal" parts="GetResidentialGrantStatus" />
      </wsdl:input>
      <wsdl:output name="GetResidentialGrantStatus_Output">
        <soap:body use="literal" parts="GetResidentialGrantStatusResponse" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AJM_MPD_getResidentialGrantStatusbyEID">
    <wsdl:port name="AJM_MPD_getResidentialGrantStatusbyEID" binding="tns:AJM_MPD_getResidentialGrantStatusbyEIDBinding">
      <soap:address location="https://iapi.mocd.gov.ae:443/Outbound/FCSA/Soap/AJM_MPD_getResidentialGrantStatusbyEID" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>