Connected Services/SSSFRPService/SHJ_SSSF_getRetirementPensionerbyEID.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.informatica.com/dis/ws/" name="SHJ_SSSF_getRetirementPensionerbyEID" targetNamespace="http://www.informatica.com/dis/ws/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.informatica.com/dis/ws/">
      <xsd:element name="RetirementPensioner">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="EmiratesID" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RetirementPensionerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="RetirementPensionerDetails">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="RetirementPensionersEmiratesID" type="xsd:string" />
                  <xsd:element name="RetirementPensioners_AR" type="xsd:string" />
                  <xsd:element name="RetirementPensioners_EN" type="xsd:string" />
                  <xsd:element name="RetirementPensionersStartDate" type="xsd:string" />
                  <xsd:element name="RetirementPensionersEndDate" type="xsd:string" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element maxOccurs="unbounded" name="Error">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="InputParameter" type="xsd:string" />
                  <xsd:element name="ErrorCode" type="xsd:string" />
                  <xsd:element name="ErrorDescription" type="xsd:string" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RetirementPensioner">
    <wsdl:part name="RetirementPensioner" element="tns:RetirementPensioner" />
  </wsdl:message>
  <wsdl:message name="RetirementPensionerResponse">
    <wsdl:part name="RetirementPensionerResponse" element="tns:RetirementPensionerResponse" />
  </wsdl:message>
  <wsdl:portType name="SHJ_SSSF_getRetirementPensionerbyEIDPortType">
    <wsdl:operation name="RetirementPensioner">
      <wsdl:input name="RetirementPensioner_Input" message="tns:RetirementPensioner" />
      <wsdl:output name="RetirementPensioner_Output" message="tns:RetirementPensionerResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SHJ_SSSF_getRetirementPensionerbyEIDBinding" type="tns:SHJ_SSSF_getRetirementPensionerbyEIDPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetirementPensioner">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="RetirementPensioner_Input">
        <soap:body use="literal" parts="RetirementPensioner" />
      </wsdl:input>
      <wsdl:output name="RetirementPensioner_Output">
        <soap:body use="literal" parts="RetirementPensionerResponse" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SHJ_SSSF_getRetirementPensionerbyEID">
    <wsdl:port name="SHJ_SSSF_getRetirementPensionerbyEID" binding="tns:SHJ_SSSF_getRetirementPensionerbyEIDBinding">
      <soap:address location="https://iapi.mocd.gov.ae:443/Outbound/FCSA/Soap/Sharjah_SSSF_Retirement_Pension/V1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>