Connected Services/INPRISONSTATUS/DUB_POL_getPrisonStatusbyEID.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.informatica.com/dis/ws/" name="DUB_POL_getPrisonStatusbyEID" targetNamespace="http://www.informatica.com/dis/ws/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.informatica.com/dis/ws/">
      <xsd:element name="GetMOIPrisonStatus">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="PersonNumber" type="xsd:string" />
            <xsd:element name="EmiratesID" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetMOIPrisonStatusResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="MOIPrisonStatus">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="EmirateID" type="xsd:string" />
                  <xsd:element name="PersonNumber" type="xsd:string" />
                  <xsd:element name="PersonName" type="xsd:string" />
                  <xsd:element name="InPrisonFlag" type="xsd:string" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="Error">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="InputParameter" type="xsd:string" />
                  <xsd:element name="ErrorCode" type="xsd:string" />
                  <xsd:element name="ErrorDesription" type="xsd:string" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetMOIPrisonStatus">
    <wsdl:part name="GetMOIPrisonStatus" element="tns:GetMOIPrisonStatus" />
  </wsdl:message>
  <wsdl:message name="GetMOIPrisonStatusResponse">
    <wsdl:part name="GetMOIPrisonStatusResponse" element="tns:GetMOIPrisonStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="DUB_POL_getPrisonStatusbyEIDPortType">
    <wsdl:operation name="GetMOIPrisonStatus">
      <wsdl:input name="GetMOIPrisonStatus_Input" message="tns:GetMOIPrisonStatus" />
      <wsdl:output name="GetMOIPrisonStatus_Output" message="tns:GetMOIPrisonStatusResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DUB_POL_getPrisonStatusbyEIDBinding" type="tns:DUB_POL_getPrisonStatusbyEIDPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMOIPrisonStatus">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="GetMOIPrisonStatus_Input">
        <soap:body use="literal" parts="GetMOIPrisonStatus" />
      </wsdl:input>
      <wsdl:output name="GetMOIPrisonStatus_Output">
        <soap:body use="literal" parts="GetMOIPrisonStatusResponse" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DUB_POL_getPrisonStatusbyEID">
    <wsdl:port name="DUB_POL_getPrisonStatusbyEID" binding="tns:DUB_POL_getPrisonStatusbyEIDBinding">
      <soap:address location="https://iapi.mocd.gov.ae:443/Outbound/FCSA/Soap/GetPrisonStatusbyEID/V1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>