Connected Services/ICP_PersonalProfile/52cd7cfe-8e0a-11ea-bd97-eb374c99a2702.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tns="http://id.gov.ae/schema/commontypes" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://id.gov.ae/schema/commontypes" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Header" type="tns:HeaderType" />
  <xsd:complexType name="HeaderType">
    <xsd:sequence>
      <xsd:element name="serviceName" type="xsd:string" />
      <xsd:element name="sourceChannel" type="xsd:string" />
      <xsd:element name="serviceVersion" type="xsd:string" />
      <xsd:element name="serviceLanguage" type="xsd:string" />
      <xsd:element name="userName" type="xsd:string" />
      <xsd:element name="password" type="xsd:string" />
      <xsd:element name="hash" type="xsd:base64Binary" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ParameterType">
    <xsd:sequence>
      <xsd:element name="Name" type="xsd:string" />
      <xsd:element name="Value" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ParameterListType">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Parameter" type="tns:ParameterType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="CodeType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:pattern value="[0-9]+" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Code2Type">
    <xsd:restriction base="tns:CodeType">
      <xsd:maxLength value="2" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Code3Type">
    <xsd:restriction base="tns:CodeType">
      <xsd:maxLength value="3" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Code4Type">
    <xsd:restriction base="tns:CodeType">
      <xsd:maxLength value="4" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CompanyCodeType">
    <xsd:restriction base="tns:CodeType">
      <xsd:maxLength value="15" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CountryCodeType">
    <xsd:restriction base="xsd:string">
      <xsd:length value="3" />
      <xsd:pattern value="[A-Z]+" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LanguageCodeType">
    <xsd:restriction base="tns:AlphaNumericType">
      <xsd:minLength value="1" />
      <xsd:maxLength value="2" />
      <xsd:pattern value="[A-Z]+" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CertificateNumberType">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="30" />
      <xsd:pattern value="[A-Za-z0-9_@/\\#-]*" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="GenderCodeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="1">
        <xsd:annotation>
          <xsd:documentation>Male</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="2">
        <xsd:annotation>
          <xsd:documentation>Female</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MaritalStatusCodeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="1">
        <xsd:annotation>
          <xsd:documentation>Single</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="2">
        <xsd:annotation>
          <xsd:documentation>Married</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="3">
        <xsd:annotation>
          <xsd:documentation>Divorced</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="4">
        <xsd:annotation>
          <xsd:documentation>Widowed</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RoleCodeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="1">
        <xsd:annotation>
          <xsd:documentation>Self</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="2">
        <xsd:annotation>
          <xsd:documentation>Husband</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="3">
        <xsd:annotation>
          <xsd:documentation>Wife</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="4">
        <xsd:annotation>
          <xsd:documentation>Father</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="5">
        <xsd:annotation>
          <xsd:documentation>Mother</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AddressTypeCodeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="1">
        <xsd:annotation>
          <xsd:documentation>Main</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="2">
        <xsd:annotation>
          <xsd:documentation>Secondary</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="3">
        <xsd:annotation>
          <xsd:documentation>Job</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="4">
        <xsd:annotation>
          <xsd:documentation>Delivery</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CompanyTypeCodeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="0">
        <xsd:annotation>
          <xsd:documentation>Government</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="1">
        <xsd:annotation>
          <xsd:documentation>Private</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EmirateCodeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="0">
        <xsd:annotation>
          <xsd:documentation>Abroad</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="1">
        <xsd:annotation>
          <xsd:documentation>Abu Dhabi</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="2">
        <xsd:annotation>
          <xsd:documentation>Dubai</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="3">
        <xsd:annotation>
          <xsd:documentation>Sharjah</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="4">
        <xsd:annotation>
          <xsd:documentation>Ajman</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="5">
        <xsd:annotation>
          <xsd:documentation>Um Al Quwain</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="6">
        <xsd:annotation>
          <xsd:documentation>Ras Al Khaima</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="7">
        <xsd:annotation>
          <xsd:documentation>Fujaira</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ReligionType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="0">
        <xsd:annotation>
          <xsd:documentation>Unknown Religion</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="1">
        <xsd:annotation>
          <xsd:documentation>Muslim</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="2">
        <xsd:annotation>
          <xsd:documentation>Christian</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="3">
        <xsd:annotation>
          <xsd:documentation>Hindu</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="4">
        <xsd:annotation>
          <xsd:documentation>Buddhist</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="5">
        <xsd:annotation>
          <xsd:documentation>Sikh</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="6">
        <xsd:annotation>
          <xsd:documentation>Kadiani</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="7">
        <xsd:annotation>
          <xsd:documentation>Baha’i</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="8">
        <xsd:annotation>
          <xsd:documentation>Jewish</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EnglishNameType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EnglishName20Type">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="20" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EnglishName40Type">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="40" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EnglishName80Type">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="80" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EnglishType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="English15Type">
    <xsd:restriction base="tns:EnglishType">
      <xsd:maxLength value="15" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="English60Type">
    <xsd:restriction base="tns:EnglishType">
      <xsd:maxLength value="60" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="English80Type">
    <xsd:restriction base="tns:EnglishType">
      <xsd:maxLength value="80" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="English500Type">
    <xsd:restriction base="tns:EnglishType">
      <xsd:maxLength value="500" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AlphaType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:pattern value="[a-zA-Z]+" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AlphaNumericType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:pattern value="[a-zA-Z0-9]+" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AlphaNumeric10Type">
    <xsd:restriction base="tns:AlphaNumericType">
      <xsd:maxLength value="10" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ArabicNameType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ArabicName20Type">
    <xsd:restriction base="tns:ArabicNameType">
      <xsd:maxLength value="20" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ArabicName40Type">
    <xsd:restriction base="tns:ArabicNameType">
      <xsd:maxLength value="40" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ArabicName80Type">
    <xsd:restriction base="tns:ArabicNameType">
      <xsd:maxLength value="80" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ArabicType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Arabic60Type">
    <xsd:restriction base="tns:ArabicType">
      <xsd:maxLength value="60" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Arabic80Type">
    <xsd:restriction base="tns:ArabicType">
      <xsd:maxLength value="80" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Arabic500Type">
    <xsd:restriction base="tns:ArabicType">
      <xsd:maxLength value="500" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="UNType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="12" />
      <xsd:pattern value="([\d])*" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PositiveValueType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:pattern value="([\d])*" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="IDNType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="15" />
      <xsd:maxLength value="18" />
      <xsd:pattern value="(784)([-]?)([\d]{4})([-]?)([\d]{7})([-]?)([\d]{1})" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PhoneNumberType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="20" />
      <xsd:pattern value="((\d|\s|[+\(\)./-])*)" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AddressEnglishType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AddressArabicType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EmailType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="80" />
      <xsd:pattern value="[_A-Za-z0-9-]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CardStatusCodeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="1">
        <xsd:annotation>
          <xsd:documentation>Created</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="2">
        <xsd:annotation>
          <xsd:documentation>Active</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="3">
        <xsd:annotation>
          <xsd:documentation>To Be Updated</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="4">
        <xsd:annotation>
          <xsd:documentation>To Be Renewed/Replaced</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="5">
        <xsd:annotation>
          <xsd:documentation>Deactivated/Destroyed</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ResponseCodeType">
    <xsd:restriction base="tns:CodeType">
      <xsd:maxLength value="4" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AlphaNumeric20Type">
    <xsd:restriction base="tns:AlphaNumericType">
      <xsd:maxLength value="20" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="FamilyBookNumberType">
    <xsd:restriction base="tns:CodeType">
      <xsd:maxLength value="10" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TransactionRefNoType">
    <xsd:restriction base="tns:CodeType">
      <xsd:length value="25" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>